@*@model List<ExampleProject.Models.Product>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
	<ul>
		@{
			//<h3>Model Based</h3>
			//foreach (var item in @Model)
			//{
			//	<li>@item.ProductName.ToString();</li>
			//}

			//<h3>ViewBag</h3>
			//foreach (var item in ViewBag.products as List<ExampleProject.Models.Product>)
			//{
			//	<li>@item.ProductName.ToString();</li>
			//}

			//<h3>ViewData</h3>
			//foreach (var item in ViewData["products"] as List<ExampleProject.Models.Product>)
			//{
			//	<li>@item.ProductName.ToString();</li>
			//}

			//<h3>TempData</h3>
			//foreach (var item in TempData["products"] as List<ExampleProject.Models.Product>)
			//{
			//	<li>@item.ProductName.ToString();</li>
			//}

		
		}
	</ul>
	
</body>
</html*@>

@*@inject dependency_injection.Services.ILog log

@{
	log
}*@
